/*
Saisamrit Surbehere
Section Al
April 11 Thursday


This is the styple.css page for my debugdog of web development work.
It is used by all pages in my debugdog to give the site a consistent look and feel.

 */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700|Space+Mono');

.side-by-side {
  display: flex;
}





body {
  background-image: url("img/dog-footprint.png");
  background-attachment: fixed;
  background-color: #FEE8C8;
  width: 80%;
  margin: auto;
  font-family: 'Space Mono' , monospace;
}

a{
  color: purple;
}

a:visited{
  color :midnightblue;
}


main {
  background-color: #EBEDEF;
  color :   #34495E;
  margin-top : 8%;
  margin-bottom: 4%;
  border-radius : 5px;
}

main > section {
  padding: 1% 2% 1% 2%;
}

header h1, #endorsements, footer{
  background-color: #34495E;
  color:#EBEDEF;
}

h2{
  font-size: 1.6em;
  text-transform: uppercase;
  text-align: center;
}

h1 , h2 , h3, h4 {
  font-family: "IBM Plex Sans", sans-serif;
  text-align: center;
}

header h1{
  padding: 10px;
  font-size: 3.1em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}




header{
  background-image: url("img/header-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height : 350px;
  text-align: center;
}

#profilepic img{
  width :300px;
  height: 100%;
  border: solid WHITE 10px;
  border-radius: 200px;

}

#profilepic{
  padding-top: 3%;
  padding-left: 75%;
}


footer{
  padding: 20px;
  border-radius: 5px;
  font-size: 1vw;
  text-align : center;
  vertical-align: middle;
  height : 70px;
}

footer img{
  height: 70px;
  margin-right:10px;
  vertical-align: middle;
}

#background p{
  margin:  10px;
}

#facts {
  border-top: solid  5px #34495E;
  border-bottom: solid 5px #34495E;

}

#facts img {
  width :300px;
  height : 100%;
  margin-right: 5px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}


blockquote {
  background-color: #EBEDEF;
  color :   #34495E;
  text-align: center;
  border-left: 10px solid #AEB6BF;
  margin: 0px 30px 15px 30px;


  padding-top: 10px;
  padding-bottom: 10px;
}

#endorsements img{
  width: 30vw;
  max-width: 400px;
  height :100%;
  float: right;
}





hr{
  width :40%;
}


/********** Begin CSS for the Creative Section Here **********/



#creative{
  background-color: #EBEDEF;
  color :   #34495E;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

#creative img {

  width: 30vw;
  max-width: 400px;
  height :100%;
  float: right;

  margin-right: 10px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;

}

#last_para {
  text-align: center;
}

/********** End CSS for the Creative Section Here   **********/
