/*
  Name: Saisamrit Surbehera
  Section : AL
  Date: 16th April

  This is my set.css file. It is made to  describe the presentation of two of
  the Web pages that is milestone.html and set.html. To make changes
*/

h1 {
  text-align:  center;
}

main {
  width: 80%;
  margin: auto;
}

body, button, select {
  font-family: Helvetica,  Verdana , sans-serif;
}

#menu-view {
  font-size: 12pt;
  text-align: center;
}

#menu-view article {
  color :white;
  background-color : #6F77ED;
  border : 5pt solid black;
  border-radius: 0.35em;
  padding-bottom: 20px;
}

#start {
  margin-bottom: 20px;
  width :100px;
  margin-top : 10px;
  padding: 8px;
  font-size: 12pt;
}


#main-btn , #refresh{
  padding: 8px;
  font-size: 12pt;
}

#start , #menu-view select{
  background-color: white;
  border : 2pt solid black;
  font-size: 12pt;
}

.hidden {
  display : none;
}

.selectedCard {
  box-shadow: 10px 6px #636363 ;
}

#menu-view h2 {
  font-size: 16pt;
  text-decoration: underline;
}

.card , .selectedCard{
  display:flex ;
  align-items: center;
  justify-content: space-evenly;
  width :220px;
  height :95px;
  border: solid black 0.35em;
  border-radius: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card img , .selectedCard img{
  display: flex;
  justify-content: space-evenly;
  height: 85%;
}



#details {
  background-color:  black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items:  center;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  font-size: 14pt;
}

#game {
  border-left: solid black 5pt;
  border-right: solid black 5pt;
  border-bottom: solid black 5pt;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding : 20px;
  margin : 0px 0px 5px 0px;
}
