/*
Name: Saisamrit Surbehera
Section : AL
Date: May 4

This is my styles.css file. It is made to  describe the presentation of index.html
page
*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
  font-size: 10px;
  background-size: 150px 150px;
}

body {
  margin: auto auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
  width: 80%;
  height: 100vh;
  background-color: rgb(204, 255, 204);
  color: Black;
}

header {
  padding-top: 1px;
  padding-bottom: 18px;
}


h1 {
  font-family: "Raleway", cursive;
  font-size: 3.6rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: lighter;
  margin-top: -20px;
}

legend {
  font-size: 1.6rem;
}

select, button {
  font-family: "Raleway", sans-serif;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

img {
  height: 3.5in;
  width: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 80%;
  text-align: center;
}
