/*
  Name: Saisamrit Surbehera
  Section : AL
  Date: 21st April

  This is my set.css file. It is made to  describe the presentation of index.html
  page
*/

body, footer > header {
     width: 80%;
     margin: auto auto;
}

header {
     text-align: center;
}

main {
     height: auto;
}



 #canvas {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     margin: auto auto;

}
 #start-btn {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: auto;
     height: auto;
     font-size: 50px;
     border: 2px solid black;
     background-color: blue;
}

 #countdown {
     position: absolute;
     left: 50%;
     top: 63%;
     transform: translate(-50%, -50%);
     margin: auto auto;
     text-align: right;
     font-size: 40px;
}


 .hidden {
     display: none;
}


footer{
     padding: 10px;
     background-size: cover;
     width: 80%;
     bottom: 0%;
     text-align: center;
     position: absolute;
}

 footer p {
     margin: 0;
     padding-left: 30px;
     vertical-align: middle;
     font-size: 20px;
}
